include ez_setup.py
include AUTHORS COPYING INSTALL NEWS README
include higgins/netif/netif-internal.h
include higgins/data/templates/*.t
include higgins/data/static/css/*
include higgins/data/static/images/*
include tests/*.py
