<html
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:py="http://genshi.edgewall.org/"
  py:strip="">
    <py:match path="head" once="true">
    <head py:attrs="select('@*')">
        <link href="/static/css/base.css" rel="stylesheet" type="text/css" media="screen" />
<!-- Begin matched content -->

        ${select('*')}

<!-- End matched content -->
    </head>
    </py:match>

    <py:match path="body">
    <body>
        <div id="higgins-enclosure">
            <div id="higgins-title">Higgins</div>
            <ul id="higgins-topnav"><py:for each="item in topnav"><py:choose test="item[2]">
                <py:when test="True"><li class="higgins-topnav-selected">
                    <a class="higgins-topnav-link-selected" href="${item[1]}">${item[0]}</a>
                </li></py:when>
                <py:when test="False"><li class="higgins-topnav-normal">
                    <a class="higgins-topnav-link-normal" href="${item[1]}">${item[0]}</a>
                </li></py:when>
            </py:choose></py:for></ul>
            <div>
            <div id="higgins-content">
<!-- Begin matched content -->

            ${select('*|text()')}

<!-- End matched content -->
            </div>
            </div>
        </div>
    </body>
    </py:match>

</html>
