<html
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:xi="http://www.w3.org/2001/XInclude"
  xmlns:py="http://genshi.edgewall.org/">
    <xi:include href="base.html" />
    <head>
        <link href="/static/css/browse.css" rel="stylesheet" type="text/css" media="screen" />
        <title>Higgins - Browse Music</title>
    </head>
    <body>

        <div id="browse">
            <div id="browse-title">Browse Your Library</div>
            <ul>
                <li><a href="/library/music">Music</a></li>
                <li><a href="/library/shows">TV Shows</a></li>
                <li><a href="/library/movies">Movies</a></li>
                <li><a href="/library/photos">Photos</a></li>
                <li><a href="/library/playlists">Playlists</a></li>
                <li><a href="/library/genres">Genres</a></li>
                <li><a href="/library/tags">Tags</a></li>
            </ul>
        </div>

        <div id="latest">
            <span id="latest-title">Latest Additions</span>
            <py:choose test="latest_songs">
                <py:when test="None"><p>No data for newest additions.</p></py:when>
                <py:otherwise>
            <ol id="latest-list">
                <li py:for="song in latest_songs">
                    <a href="/library/music/song/${song.storeID}">${song.name}</a> by
                    <a href="/library/music/artist/${song.artist.storeID}">${song.artist.name}</a>
                </li>
            </ol>
                </py:otherwise>
            </py:choose>
        </div>

    </body>
</html>
