<html
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:xi="http://www.w3.org/2001/XInclude"
  xmlns:py="http://genshi.edgewall.org/">
    <xi:include href="base.html" />
    <head>
        <title>Higgins - ${artist.name}</title>
        <link href="/static/css/browse.css" rel="stylesheet" type="text/css" media="screen"/>
        <link href="/static/css/artist.css" rel="stylesheet" type="text/css" media="screen"/>
        <link type="text/css" href="/static/css/smoothness/jquery-ui-1.7.custom.css" rel="stylesheet" />
        <script type="text/javascript" language="javascript" src="/static/js/jquery-1.3.2.min.js"></script>
        <script type="text/javascript" language="javascript" src="/static/js/jquery-ui-1.7.min.js"></script>
        <script type="text/javascript" language="javascript" src="/static/js/datatables-1.4.min.js"></script>
        <script type="text/javascript" language="javascript" src="/static/js/jquery-validate-1.5.5.min.js"></script>
        <script type="text/javascript" language="javascript" src="/static/js/jquery-form-2.31.js"></script>
        <script type="text/javascript" language="javascript" src="/static/js/higgins-artist.js"></script>
    </head>
    <body>

        <ul id="browse-subnav">
            <li><a href="/library/music">Music</a></li>
            <li><a href="/library/shows">TV Shows</a></li>
            <li><a href="/library/movies">Movies</a></li>
            <li><a href="/library/photos">Photos</a></li>
            <li><a href="/library/playlists">Playlists</a></li>
            <li><a href="/library/genres">Genres</a></li>
            <li><a href="/library/tags">Tags</a></li>
        </ul>

        <div>
            <p>
                <div id="artist-info-container">
                    <table id="artist-info-viewer">
                        <tr><td id="artist-name">${artist.name}</td></tr>
                        <tr py:if="artist.website">
                            <td><a href="${artist.website}">${artist.website}</a></td>
                        </tr>
                        <tr><td><a id="edit-artist" href="#">(edit)</a></td></tr>
                    </table>
                    <div id="artist-info-editor">
                        <form id="artist-editor-form" method="POST" action="/api/1.0/artist/update">
                            <input name="artistID" value="${artist.storeID}" type="hidden"/>
                            <table id="artist-info-table">
                                <tr><td>Artist Name</td><td><input type="text" name="name" value="${artist.name}"/></td></tr>
                            </table>
                            <input id="edit-cancel" type="button" value="cancel"/><input id="edit-save" type="submit" value="save" />
                        </form>
                    </div>
                </div>
                <table class="display" id="album-listing">
                    <thead>
                        <th class="album-header">Released</th>
                        <th class="album-header">Title</th>
                        <th class="album-header">Genre</th>
                    </thead>
                    <tbody>
                        <tr py:for="album in album_list">
                            <td class="album-released">${album.releaseDate}</td>
                            <td class="album-title"><a href="/library/music/album/${album.storeID}">${album.name}</a></td>
                            <td class="album-genre"><a href="/library/genre/${album.genre.storeID}">${album.genre.name}</a></td>
                        </tr>
                    </tbody>
                </table>
            </p>
        </div>
    </body>
</html>
