<html
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:xi="http://www.w3.org/2001/XInclude"
  xmlns:py="http://genshi.edgewall.org/">
    <xi:include href="base.html" />
    <head>
        <title>${album.name}</title>
        <link href="/static/css/album.css" rel="stylesheet" type="text/css" media="screen"/>
        <link type="text/css" href="/static/css/smoothness/jquery-ui-1.7.custom.css" rel="stylesheet" />
        <script type="text/javascript" language="javascript" src="/static/js/jquery-1.3.2.min.js"></script>
        <script type="text/javascript" language="javascript" src="/static/js/jquery-ui-1.7.min.js"></script>
        <script type="text/javascript" language="javascript" src="/static/js/datatables-1.4.min.js"></script>
        <script type="text/javascript" language="javascript" src="/static/js/higgins-album.js"></script>
    </head>
    <body>
        <div>
            <p>
                <div id="album-info-container">
                    <table id="album-info-viewer">
                        <tr><td class="song-album">${album.name}</td></tr>
                        <tr><td>by <a href="/library/music/artist/${album.artist.storeID}">${album.artist.name}</a></td></tr>
                        <tr><td><a id="edit-album" href="#">(edit)</a></td></tr>
                    </table>
                    <div id="album-info-editor">
                        <form id="album-editor-form" action="/library/music/album/${album.storeID}/" method="post">
                            <input type="hidden" name="is-playlist" value="false" />
                            <table id="album-info-table">
                                {{ editor.as_table }}
                            </table>
                            <input id="edit-cancel" type="button" value="cancel"/><input id="edit-save" type="submit" value="save" />
                        </form>
                    </div>
                </div>
                <table class="display" id="song-listing">
                    <thead>
                        <th class="song-header">Track</th>
                        <th class="song-header">Title</th>
                        <th class="song-header">Duration</th>
                        <th class="song-header"></th>
                    </thead>
                    <tbody>
                    <tr py:for="song in song_list">
                        <td class="song-tracknumber">${song.trackNumber}</td>
                        <td class="song-title"><a href="/library/music/song/${song.storeID}">${song.name}</a></td>
                        <td>${song.printDuration()}</td>
                        <td><input class="song-selector" type="checkbox" value="${song.storeID}"/></td>
                    </tr>
                    </tbody>
                </table>
            </p>
        </div>
        <div id="album-actions">
            <input class="album-action" id="select-all-action" type="button" value="Select All" />
            <input class="album-action" id="unselect-all-action" type="button" value="Unselect All" />
            <input class="album-action" id="add-to-playlist-action" type="button" value="Add Selected To Playlist" />
        </div>
        <div id="add-to-playlist-dialog">
            <p id="add-to-playlist-form">
                Select a playlist to add these songs to:
                <p>
                    <select id="add-to-playlist-combobox"></select>
                </p>
                <table id="add-to-playlist-buttons">
                    <tr>
                        <td><input id="add-to-playlist-cancel" type="button" value="Cancel" /></td>
                        <td><input id="add-to-playlist-ok" type="button" value="OK" /></td>
                    </tr>
                </table>
            </p>
        </div>
        <div id="overlay"></div>
    </body>
</html>
