<html
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:xi="http://www.w3.org/2001/XInclude"
  xmlns:py="http://genshi.edgewall.org/">
    <xi:include href="base.html" />
    <head>
        <title>Higgins - ${song.name}</title>
        <link href="/static/css/browse.css" rel="stylesheet" type="text/css" media="screen"/>
        <link href="/static/css/song.css" rel="stylesheet" type="text/css" media="screen"/>
        <link type="text/css" href="/static/css/smoothness/jquery-ui-1.7.custom.css" rel="stylesheet" />
        <script type="text/javascript" language="javascript" src="/static/js/jquery-1.3.2.min.js"></script>
        <script type="text/javascript" language="javascript" src="/static/js/jquery-ui-1.7.min.js"></script>
        <script type="text/javascript" language="javascript" src="/static/js/datatables-1.4.min.js"></script>
        <script type="text/javascript" language="javascript" src="/static/js/jquery-validate-1.5.5.min.js"></script>
        <script type="text/javascript" language="javascript" src="/static/js/jquery-form-2.31.js"></script>
        <script type="text/javascript" language="javascript" src="/static/js/higgins-song.js"></script>
    </head>
    <body>

        <ul id="browse-subnav">
            <li><a href="/library/music">Music</a></li>
            <li><a href="/library/shows">TV Shows</a></li>
            <li><a href="/library/movies">Movies</a></li>
            <li><a href="/library/photos">Photos</a></li>
            <li><a href="/library/playlists">Playlists</a></li>
            <li><a href="/library/genres">Genres</a></li>
            <li><a href="/library/tags">Tags</a></li>
        </ul>

        <div>
            <p>
                <div id="song-info-container">
                    <table id="song-info-viewer">
                        <tr><td><span id="song-name">${song.name}</span></td></tr>
                        <tr><td>by <a href="/library/music/artist/${song.artist.storeID}/">${song.artist.name}</a></td></tr>
                        <tr><td>from the album <a href="/library/music/album/${song.album.storeID}/">${song.album.name}</a></td></tr>
                        <tr py:if="song.album.genre and song.album.genre.name != ''">
                            <td>classified as <a href="/library/music/genre/${song.album.genre.storeID}/">${song.album.genre.name}</a></td>
                        </tr>
                        <tr py:if="song.trackNumber"><td>track #${song.trackNumber}</td></tr>
                        <tr><td><a id="edit-artist" href="">(edit)</a></td></tr>
                    </table>
                    <div id="song-info-editor">
                        <form id="song-editor-form" method="POST" action="/api/1.0/updateSong">
                            <input name="songID" value="${song.storeID}" type="hidden"/>
                            <table id="song-info-table">
                                <tr><td>Song Title</td><td><input type="text" name="title" value="${song.name}"/></td></tr>
                                <tr><td>Artist</td><td><input type="text" name="artist" value="${song.artist.name}"/></td></tr>
                                <tr><td>Album</td><td><input type="text" name="album" value="${song.album.name}"/></td></tr>
                                <tr><td>Track Number</td><td><input type="text" name="trackNumber" value="${song.trackNumber}"/></td></tr>
                                <tr><td>Volume Number</td><td><input type="text" name="volumeNumber" value="${song.volumeNumber}"/></td></tr>
                            </table>
                            <input id="edit-cancel" type="button" value="cancel"/><input id="edit-save" type="submit" value="save" />
                        </form>
                    </div>
                </div>
            </p>
        </div>

    </body>
</html>
