#browse-title { font-weight: bold; }
#browse
{
    width: 240px;
    float: left;
    padding: 10px;
}
#browse-list li { list-style-type: square; }

#latest-title { font-weight: bold; }
#latest
{
    width: 240px;
    float: left;
    padding: 10px;
}

#popular-title { font-weight: bold; }
#popular
{
    width: 240px;
    float: left;
    padding: 10px;
}
