#browse-title { text-align: left; font-weight: bold; }
#browse
{
    width: 30%;
    padding: 10px;
    float: left;
}
#browse-list li { list-style-type: square; }

#latest-title { font-weight: bold; }
#latest
{
    width: 60%;
    padding: 10px;
    float: left;
}
