#overlay {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 2;
    background-color: #606060;
    opacity: 0.3;
}

/* playlists container */
#playlists-actions {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}
#create-playlist-action { margin: 6px; }

/* playlist styles */
.playlist-header { text-align: left; font-weight: bold; }
#playlist-listing { width: 100%; }
#playlist-listing_info { display: none; }
.playlist-rename-column { width: 4% }
.playlist-remove-column { width: 4% }

/* create playlist dialog */
#create-playlist-dialog {
    display: none;
    position: absolute;
    width: 400px;
    background-color: #FFF;
    border: 1px solid black;
    z-index: 3;
    padding: 20px;
}
#create-playlist-form { margin: 0px; width: 100%; }
#create-playlist-title { width: 100%; margin-left: auto; margin-right: auto; }
#create-playlist-buttons { margin-top: 10px; float: right; }

/* reaname playlist dialog */
#rename-playlist-dialog {
    display: none;
    position: absolute;
    width: 400px;
    background-color: #FFF;
    border: 1px solid black;
    z-index: 3;
    padding: 20px;
}
#rename-playlist-form { margin: 0px; width: 100%; }
#rename-playlist-title { width: 100%; margin-left: auto; margin-right: auto; }
#rename-playlist-buttons { margin-top: 10px; float: right; }

/* reaname playlist dialog */
#remove-playlist-dialog {
    display: none;
    position: absolute;
    width: 400px;
    background-color: #FFF;
    border: 1px solid black;
    z-index: 3;
    padding: 20px;
}
#remove-playlist-form { margin: 0px; width: 100%; }
#remove-playlist-title { width: 100%; margin-left: auto; margin-right: auto; }
#remove-playlist-buttons { margin-top: 10px; float: right; }
