#higgins-subnav
{
    margin: 0px 0px 18px 0px;
    padding-left: 0px;
    padding-right: 0px;
    border-left: 1px dotted black;
    float: left;
    width: 100%;
}
.higgins-subnav-normal { display: inline; }
.higgins-subnav-selected { display: inline; }
.higgins-subnav-link-normal
{
    float: left;
    font-size: 10pt;
    border-right: 1px dotted black;
    padding: 3px 18px;
}
.higgins-subnav-link-selected
{
    float: left;
    font-size: 10pt;
    border-right: 1px dotted black;
    padding: 3px 18px;
}

.higgins-settings-form
{
    padding: 18px;
}
.higgins-settings-description
{
    padding-bottom: 18px;
}
.higgins-settings-form
{
    padding: 12px;
}
.higgins-settings-table
{
    width: 100%;
    //border: 1px solid #e0e0e0;
    margin-bottom: 12px;
    padding: 12px;
    //background-color: #f8f8f8;
}
.higgins-settings-field-name
{
}
.higgins-settings-field
{
    width: 30%;
}

.higgins-settings-table input
{
    width: 80%;
}
.higgins-settings-table select
{
    width: 60%;
}
