.higgins-settings-form
{
    padding: 18px;
}
.higgins-settings-description
{
    padding-bottom: 18px;
}
.higgins-settings-table
{
    width: 100%;
    border: 1px solid #e0e0e0;
    background-color: #f8f8f8;
    margin-bottom: 12px;
}
.higgins-settings-field-name
{
}
.higgins-settings-field
{
    width: 30%;
}
